<style>
@font-face {
    font-family: 'Gotham Narrow Bold';
    src: url('GothamNarrow-Bold.ttf') format('truetype');
}

.banner-text {
    font-family: 'Gotham Narrow Bold', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}
</style>

<div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <div class="banner-text">Data Extraction and Excel Export</div>
    <div style="flex-grow: 1; text-align: right;">
        <img src="https://www.techbarcelona.com/wp-content/uploads/bovemontero-768x270-1-4.jpg" alt="Logo" width="200">
    </div>
</div>

1) Importamos librerías

In [1]:
import os; clear = lambda: os.system('cls'); clear();
import openpyxl as xl; #print("Python Library: ", xl.__name__, xl.__version__)
import pyodbc; import pandas as pd; import warnings; import tabulate as tb;
warnings.filterwarnings("ignore", category=UserWarning)

2) Definimos rutas

In [2]:
path_in = r'C:\Users\jordi\Desktop\ARCHIVO\1 - DOCS\PyBcn - OpenPyXL\SCRIPTS\_countries.sql'
path_out = r'C:\Users\jordi\Desktop\ARCHIVO\1 - DOCS\PyBcn - OpenPyXL\XLS\ex1_countries.xlsx'

3) Conectamos base de datos

In [3]:
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=PC;DATABASE=Northwind;Trusted_Connection=yes;')
query = open(path_in, 'r').read()
df = pd.read_sql(query, conn)

4) Comprobamos la dimensionalidad del conjunto de datos

In [4]:
print(df.shape)

(830, 14)

5) Visualizamos el conjunto de datos

In [5]:
print(tb.tabulate(df.head(), headers='keys', tablefmt='psql'))

+----+-----------+--------------+--------------+-------------+---------------+----------------+-----------+-----------+---------------------------+----------------------+----------------+--------------+------------------+---------------+
|    |   OrderID | CustomerID   |   EmployeeID | OrderDate   | ShippedDate   | RequiredDate   |   ShipVia |   Freight | ShipName                  | ShipAddress          | ShipCity       | ShipRegion   | ShipPostalCode   | ShipCountry   |
|----+-----------+--------------+--------------+-------------+---------------+----------------+-----------+-----------+---------------------------+----------------------+----------------+--------------+------------------+---------------|
|  0 |     10248 | VINET        |            5 | 04/07/1996  | 16/07/1996    | 01/08/1996     |         3 |     32.38 | Vins et alcools Chevalier | 59 rue de l'Abbaye   | Reims          |              | 51100            | France        |
|  1 |     10249 | TOMSP        |            6 | 05/07/1996  | 10/07/1996    | 16/08/1996     |         1 |     11.61 | Toms Spezialitäten        | Luisenstr. 48        | Münster        |              | 44087            | Germany       |
|  2 |     10250 | HANAR        |            4 | 08/07/1996  | 12/07/1996    | 05/08/1996     |         2 |     65.83 | Hanari Carnes             | Rua do Paço, 67      | Rio de Janeiro | RJ           | 05454-876        | Brazil        |
|  3 |     10251 | VICTE        |            3 | 08/07/1996  | 15/07/1996    | 05/08/1996     |         1 |     41.34 | Victuailles en stock      | 2, rue du Commerce   | Lyon           |              | 69004            | France        |
|  4 |     10252 | SUPRD        |            4 | 09/07/1996  | 11/07/1996    | 06/08/1996     |         2 |     51.3  | Suprêmes délices          | Boulevard Tirou, 255 | Charleroi      |              | B-6000           | Belgium       |
+----+-----------+--------------+--------------+-------------+---------------+----------------+-----------+-----------+---------------------------+----------------------+----------------+--------------+------------------+---------------+

6) Creamos Excel

In [6]:
wb = xl.Workbook()
wb.remove(wb.active)

7) Editamos Excel

In [7]:
for country, group in df.groupby('ShipCountry'):

    ws = wb.create_sheet(title=country)

    for col_num, column_title in enumerate(group.columns, 1):
        ws.cell(row=1, column=col_num, value=column_title)

    for row_num, row_data in enumerate(group.itertuples(index=False, name=None), 2):
        for col_num, cell_value in enumerate(row_data, 1):
            ws.cell(row=row_num, column=col_num, value=cell_value)

8) Guardamos Excel

In [8]:
wb.save(path_out) #os.remove(path_out)

9)Desconectamos base de datos

In [9]:
conn.close()